img{
    width: 315px;
    border-radius: 10px;
}
.img{
    display: flex;
    justify-content: center;
}
.text{
    margin: 20px;
}
@media only screen and (min-width: 590px) {
    .img{
        display: flex;
        justify-content: end;
    }
    .text{
        
    }
    }